<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="auth">
    <h2 class="text-info text-center">Login</h2>
    <form class="form-auth"
          [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group form-group-lg has-feedback"
           [ngClass]="{'has-success': loginForm.find('email').dirty && loginForm.find('email').valid,
                       'has-error': loginForm.find('email').dirty && !loginForm.find('email').valid}">
        <label class="sr-only"
               for="inputEmail">Username</label>
        <input id="inputEmail"
               class="form-control"
               type="email"
               placeholder="email@example.com"
               formControlName="email">
        <span class="glyphicon form-control-feedback" aria-hidden="true"
              *ngIf="loginForm.find('email').dirty"
              [ngClass]="{'glyphicon-ok show': loginForm.find('email').valid,
                          'glyphicon-remove show': !loginForm.find('email').valid}"></span>
      </div>
      <div class="form-group form-group-lg has-feedback"
           [ngClass]="{'has-success': loginForm.find('password').dirty && loginForm.find('password').valid,
                       'has-error': loginForm.find('password').dirty && !loginForm.find('password').valid}">
        <label class="sr-only"
               for="inputPassword">Password</label>
        <input id="inputPassword"
               class="form-control"
               type="password"
               placeholder="password"
               formControlName="password">
        <span class="glyphicon form-control-feedback" aria-hidden="true"
              *ngIf="loginForm.find('password').dirty"
              [ngClass]="{'glyphicon-ok show': loginForm.find('password').valid,
                          'glyphicon-remove show': !loginForm.find('password').valid}"></span>
      </div>
      <button class="btn btn-lg btn-primary btn-block"
              type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
