<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="auth">
    <h2 class="text-info text-center">Create account</h2>
    <form class="form-auth" [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="form-group form-group-lg has-feedback"
           [ngClass]="{'has-success': signupForm.find('email').dirty && signupForm.find('email').valid,
                       'has-error': signupForm.find('email').dirty && !signupForm.find('email').valid}">
        <label class="sr-only"
               for="inputEmail">Username</label>
        <input id="inputEmail"
               class="form-control"
               type="email"
               placeholder="email@example.com"
               formControlName="email">
        <span class="glyphicon form-control-feedback" aria-hidden="true"
              *ngIf="signupForm.find('email').dirty"
              [ngClass]="{'glyphicon-ok show': signupForm.find('email').valid,
                          'glyphicon-remove show': !signupForm.find('email').valid}"></span>
      </div>
      <div class="form-group form-group-lg has-feedback"
           [ngClass]="{'has-success': signupForm.find('password').dirty && signupForm.find('password').valid,
                       'has-error': signupForm.find('password').dirty && !signupForm.find('password').valid}">
        <label class="sr-only"
               for="inputPassword">Password</label>
        <input id="inputPassword"
               class="form-control"
               type="password"
               placeholder="password"
               formControlName="password">
        <span class="glyphicon form-control-feedback" aria-hidden="true"
              *ngIf="signupForm.find('password').dirty"
              [ngClass]="{'glyphicon-ok show': signupForm.find('password').valid,
                          'glyphicon-remove show': !signupForm.find('password').valid}"></span>
      </div>
      <div class="form-group form-group-lg has-feedback"
           [ngClass]="{'has-success': signupForm.find('confirmPassword').dirty && signupForm.find('confirmPassword').valid,
                       'has-error': signupForm.find('confirmPassword').dirty && !signupForm.find('confirmPassword').valid}">
        <label class="sr-only"
               for="confirmPassword">Password</label>
        <input id="confirmPassword"
               class="form-control"
               type="password"
               placeholder="confirmPassword"
               formControlName="confirmPassword">
        <span class="glyphicon form-control-feedback" aria-hidden="true"
              *ngIf="signupForm.find('confirmPassword').dirty"
              [ngClass]="{'glyphicon-ok show': signupForm.find('confirmPassword').valid,
                          'glyphicon-remove show': !signupForm.find('confirmPassword').valid}"></span>
      </div>
      <button class="btn btn-lg btn-primary btn-block"
              type="submit" [disabled]="!signupForm.valid">Create account</button>
    </form>
  </div>
</div>
